/nbproject
*/nbproject
*nbproject*
/dist
*/dist
*dist*
/build
*/build
*build*
build.xml
ProjectManagement-ejb/nbproject
ProjectManagement-ejb/dist
ProjectManagement-ejb/build.xml
ProjectManagement-war/nbproject
ProjectManagement-war/dist
ProjectManagement-war/build.xml
