/nbproject/private
ProjectManagement-ejb/nbproject/private
ProjectManagement-war/nbproject/private
dist
/dist
/ProjectManagement-war/dist/
ProjectManagement-war/dist/
/ProjectManagement-ejb/dist/
ProjectManagement-ejb/dist/
build
/build
/ProjectManagement-war/build/
ProjectManagement-war/build/
/ProjectManagement-ejb/build/
ProjectManagement-ejb/build/
ProjectManagement-ejb/build.xml
ProjectManagement-war/build.xml
build.xml