/nbproject
*/nbproject
*nbproject*
/dist
*/dist
*dist*
/build
*/build
*build*
build.xml
ProjectManagement-ejb/nbproject
ProjectManagement-ejb/build.xml
ProjectManagement-war/nbproject
ProjectManagement-war/build.xml
/build/
/dist/
/ProjectManagement-war/build/
/ProjectManagement-war/dist/
